FlightRadar24==0.3.1
numpy==2.5.1
opencv_python==5.0.0.93
pandas==3.0.5
Pillow==12.3.0
Requests==2.34.2
streamlit==1.59.1
streamlit_cropper==0.3.1
torch==2.5.1+cu121
torchvision==0.20.1+cu121
ultralytics==8.4.92
PILLOW==12.3.0